<div class="vertical">
    <div class="main-header-content inner">
        <h1 class="page-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <h2 class="page-description">{{@blog.description}}</h2>
    </div>
</div>