/* ==========================================================================
   Table of Contents
   ========================================================================== */
#toc-wrapper {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  line-height: 1.5;
  font-family: sans-serif, "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑";
}

#toc-wrapper.show {
  width: 238px;
  padding: 5px;
  border: 1px solid #DDD;
  border-radius: 3px;
  border-shadow: 0 15px 10px -15px rgba(0, 0, 0, 0.4);
}

#toc-wrapper .header {
  padding-bottom: 7px;
  font-size: 1.25em;
}

#toc-wrapper .header .header-title {
  display: inline-block;
}

#toc-wrapper .header .header-button {
  display: inline-block;
  width: 20%;
  text-align: center;
  float: right;
}

#toc-wrapper .header a {
  text-decoration: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #BBC7CC;
}

#toc-wrapper .header a:hover {
  color: #50585D;
}

#toc-wrapper .header .icon-arrow-right:before {
  content: "\e604";
}

#toc-wrapper .header .icon-arrow-down:before {
  content: "\e602";
}

#toc {
  position: relative;
  overflow: hidden;
}

#toc ul{
  margin: 0 0.125em;
  padding-left: 1em;
}

#toc li{
  margin: 0;
  padding: 0;
}

#toc li:hover {
  background: #f6f6f6;
}

#toc li a {
  text-decoration: none;
}

/* ==========================================================================
   Share Icons
   ========================================================================== */
.icon-sina-weibo:before {
    content: "\e60b";
}

.icon-renren:before {
    content: "\e60a";
}